@font-face {
    font-family: 'mrrobotregular';
    src: url('../fonts/mr_robot-webfont.woff2') format('woff2'),
         url('../fonts/mr_robot-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}